body {
    background-color: #9fc8ec
}

.header-img img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.refeitorio img {

    display: flex;
    justify-content: center;
    align-items: center;

}