body {
    background-color: #9fc8ec
}

.header-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.refeitorio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}